{% extends 'base.html' %}
{% load static %}
<!--BLOQUE PRINCIPAL-->
{% block content %}
<div class="py-5 text-center">
    <h2>{{ nombreForm }}</h2>
</div>
<div class="col-12">
    <form action="{% url ruta %}" method="post">
        {% csrf_token %}
        <div class="row g-3">
            
            <!-- SELECT DE COMPRA EQUIPO -->
            <div class="col-12">
                    <label for="listaCompraInsumo" class="form-label">Lista de articulos comprados</label>
                    <select name="listaCompraInsumo" id="listaCompraInsumo" onchange="filtrarDatosCompraEquipo()" class="form-select">
                        <option value="0">Seleccione un Articulo comprado</option>
                        {% for compraInsumo in listaCompraInsumo %}
                        <option value="{{ compraInsumo.id }}" data-insumo ="{{ compraInsumo.insumo__id }}" data-insumofinca ="{{ compraInsumo.insumoFinca__id }}" data-proveedor ="{{ compraInsumo.proveedor__id }}">{{ compraInsumo.numFactura }}</option>
                        {% endfor %}
                    </select>
            </div>
            <!-- EQUIPOS -->
            <div class="col-12">
                    <label for="listaInsumo" class="form-label">Insumo</label>
                    <select name="listaInsumo" id="listaInsumo" onchange="filtrarCompraEquipo()" class="form-select">
                        <option value="0">Seleccione un Insumo</option>
                        {% for insumo in listaInsumo %}
                        <option value="{{ insumo.id }}">{{ equipo.descripInsumo }}</option>
                        {% endfor %}
                    </select>   
            </div>
           
                <!-- EQUIPO FINCA -->
            <div class="col-12">
                    <label for="listaInsumoFinca" class="form-label">Insumo Finca </label>
                    <select name="listaInsumoFinca" id="listaInsumoFinca" onchange="filtrarCompraEquipo()" class="form-select">
                        <option value="0">Seleccione un Producto</option>
                        {% for insumoFinca in listaInsumoFinca %}
                        <option value="{{ insumoFinca.id }}">{{ insumoFinca.descripInsumoFinca }}</option>
                        {% endfor %}
                    </select>
            </div>
                
                <!-- PROVEEDORES -->
            <div class="col-12">
                   <label for="listaProveedores" class="form-label">Proveedores</label>
                   <select name="listaProveedores" id="listaProveedores" onchange="filtrarCompraEquipo()" class="form-select">
                       <option value="0">Seleccione un proveedor</option>
                       {% for proveedor in listaProveedores %}
                       <option value="{{ proveedor.id }}">{{ proveedor.nombreProveedor }}</option>
                       {% endfor %}
                   </select>
            </div>

                <!-- FECHA DE LA COMPRA DEL EQUIPO -->
            <div class="col-12">
                    <label for="fechaCompraInsumo" class="form-label">Fecha de la compra del insumo</label>
                    <input type="date" name="fechaCompraInsumo" id="fechaCompraInsumo" class="form-control">
            </div>

                <!-- NUMERO DE LA FACTURA DE LA COMPRA DEL EQUIPO -->
            <div class="col-12">
                    <label for="numFactura" class="form-label">Numero de la factura</label>
                    <input type="text" name="numFactura" id="numFactura" class="form-control">
            </div>
           

                <!-- CANTIDAD DE LA COMPRA -->            
            <div class="col-12">
                    <label for="cantidadCompraInsumo" class="form-label">Cantidad de la compra</label>
                    <input type="number" name="cantidadCompraInsumo" id="cantidadCompraInsumo" class="form-control">
            </div>

            <!-- VALOR DE LA COMPRA -->            
            <div class="col-12">
                    <label for="valorCompraInsumo" class="form-label">Valor de la compra</label>
                    <input type="number" name="valorCompraInsumo" id="valorCompraInsumo" class="form-control">
            </div>
        

            
            {% comment %} <!-- OBSERVACIÓN DE LA COMPRA -->
            <div class="col-12">
                    <label for="observacCompraEquipo" class="form-label">Observación de la compra</label>
                    <input type="text" name="observacCompraEquipo" id="observacCompraEquipo" class="form-control">
            </div> {% endcomment %}

            <hr class="my-4">
            <button class="w-100 btn boton1 btn-lg" type="submit">Guardar datos</button>
            
        </div>
    </form>
</div>
{% endblock %}
<!--FIN BLOQUE PRINCIPAL-->