{% extends 'base.html' %}
{% load static %}
<!--BLOQUE PRINCIPAL-->
{% block content %}
<div class="py-5 text-center">
    <h2>{{ nombreForm }}</h2>
</div>
<div class="col-12">
    <form action="{% url ruta %}" method="post">
        {% csrf_token %}
        <div class="row g-3">

            <!-- EQUIPO LABOR -->
            <div class="col-12">
                <label for="listaEquipoLabor" class="form-label">Equipo Labor</label>
                <select name="listaEquipoLabor" id="listaEquipoLabor" onchange="filtrarDatosLaborEquipos()" class="form-select">
                    <option value="0">Seleccione un Labor</option>
                    {% for equiposLabor in listaEquipoLabor %}
                    <option value="{{ equiposLabor.id }}" data-equipofinca ="{{ equiposLabor.equipoFinca__id }}" data-cultivo ="{{ equiposLabor.cultivo__id }}">{{ equiposLabor.cantidadUsadaEquipo }}</option>
                    {% endfor %} 
                </select>
            </div>


           <!-- CULTIVOS -->
           <div class="col-12">
                <label for="listaCultivos" class="form-label">Cultivos</label>
                <select name="listaCultivos" id="listaCultivos" onchange="filtrarLaborEquipo()" class="form-select">
                    <option value="0">Seleccione un Cultivo</option>
                    {% for cultivo in listaCultivos %}
                    <option value="{{ cultivo.id }}" >{{ cultivo.observacCultivo }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <!-- EQUIPO FINCA -->
            <div class="col-12">
                    <label for="listaEquipoFinca" class="form-label">Equipo Finca</label>
                    <select name="listaEquipoFinca" id="listaEquipoFinca" onchange="filtrarLaborEquipo()" class="form-select">
                        <option value="0">Seleccione un Equipo de Finca</option>
                        {% for equipoFinca in listaEquipoFinca %}
                        <option value="{{ equipoFinca.id }}">{{ equipoFinca.descripEquipoFinca }}</option>
                        {% endfor %}
                    </select>
            </div>
                

            <!-- CANTIDAD USADA DEL EQUIPO -->            
            <div class="col-12">
                    <label for="cantidadUsadaEquipo" class="form-label">Cantidad Usada</label>
                    <input type="number" name="cantidadUsadaEquipo" id="cantidadUsadaEquipo" class="form-control">
            </div>


             <!-- COSTO DEL EQUIPO -->            
             <div class="col-12">
                <label for="costo" class="form-label">Costo</label>
                <input type="number" name="costo" id="costo" class="form-control">
        </div>
        

            
            {% comment %} <!-- OBSERVACIÓN DE LA COMPRA -->
            <div class="col-12">
                    <label for="observacCompraEquipo" class="form-label">Observación de la compra</label>
                    <input type="text" name="observacCompraEquipo" id="observacCompraEquipo" class="form-control">
            </div> {% endcomment %}

            <hr class="my-4">
            <button class="w-100 btn boton1 btn-lg" type="submit">Guardar datos</button>
            
        </div>
    </form>
</div>
{% endblock %}
<!--FIN BLOQUE PRINCIPAL-->