{% load static %}
<br>
<div class="col-12" id="nombreUsuario">
    {% comment %} visitante {% endcomment %}
    {% if user.rol is None %}
    <h6 class="text-center"> Hola visitante </h6>
    
    {% comment %} Administrador {% endcomment %}
    {% elif user.rol == '1' %}
    <h6 class="text-center"> Bienvenido {{ user.first_name }} 
        tu rol es {{user.rol}} 
        es decir que eres Administrador del sistema  
    </h6>
       
    {% comment %} Gerente {% endcomment %}
    {% elif user.rol == '2' %}
    <h6 class="text-center"> Bienvenido {{ user.first_name }} 
        tu rol es {{user.rol}} 
        es decir que eres Gerente de finca 
    </h6>

    {% comment %} Asistente {% endcomment %}
    {% elif user.rol == '3' %}
    <h6 class="text-center"> Bienvenido {{ user.first_name }} 
        tu rol es {{user.rol}} 
        es decir que eres Asistente de finca
    </h6>     

    {% comment %} Super Usuario {% endcomment %}
    {% elif user.rol == '0' %}
    <h6 class="text-center"> Bienvenido {{ user.first_name }} 
        tu rol es {{user.rol}} 
        es decir que eres Super Usuario
    </h6>
    {% endif %}
            
    
</div>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <!--<a class="navbar-brand" href="#">Menu:</a>-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <svg class="navbar-toggler-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="var(--color-text1)" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>

            <!--<span class="navbar-toggler-icon" id="icon1"></span> -->
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio</a>
                </li>

                {% if user.rol is None %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registro' %}">Registrarse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ingresar' %}">Ingresar</a>
                </li>

                {% else %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'password_reset' %}">Cambiar contraseña</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'salir' %}">Salir</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Opciones
                    </a>
                    <ul class="dropdown-menu">
                         
                    
                        {% if user.rol == '2'%}
                        <li><a class="dropdown-item" href="{% url 'equipoFinca' %}">Equipos de Finca </a></li>
                        <li><a class="dropdown-item" href="{% url 'trabajadores' %}">Trabajadores</a></li>
                        <li><a class="dropdown-item" href="{% url 'cultivos' %}">Cultivos</a></li>
                        <li><a class="dropdown-item" href="{% url 'proveedor' %}">Proveedores</a></li>
                        <li><a class="dropdown-item" href="{% url 'insumoFinca' %}">Insumos de Finca</a></li>
                        <li><a class="dropdown-item" href="{% url 'productos' %}">Productos</a></li>
                        <li><a class="dropdown-item" href="#">Maquinaria y Herramienta</a></li>
                        <li><a class="dropdown-item" href="{% url 'clientes' %}">Clientes</a></li>
                        <li><a class="dropdown-item" href="#">Asistentes de finca</a></li>
                        <li><a class="dropdown-item" href="#">Tipos de Trabajo</a></li>
                        
                        {% elif user.rol == '1' %}
                        <li><a class="dropdown-item" href="{% url 'categHoras' %}">Categorias de horas en general</a></li>
                        <li><a class="dropdown-item" href="{% url 'proveedor' %}">Proveedores en general</a></li>
                        <li><a class="dropdown-item" href="{% url 'insumos' %}">Insumos en general </a></li>
                        <li><a class="dropdown-item" href="{% url 'categMaterial' %}">Categorias de Materiales</a></li>
                        <li><a class="dropdown-item" href="{% url 'unidadMedida' %}">Unidades de Medida</a></li>
                        <li><a class="dropdown-item" href="{% url 'equipos' %}">Equipos y Herramientas en general</a></li>
                        
                        {% elif user.rol == '3' %} 
                        <li><a class="dropdown-item" href="{% url 'compraEquipo' %}">Compra de Equipo y Herramienta</a></li>
                        <li><a class="dropdown-item" href="{% url 'CompraInsumo' %}">Compra de Insumos</a></li>
                        <li><a class="dropdown-item" href="{% url 'lotes' %}">Lotes</a></li>
                        <li><a class="dropdown-item" href="#">Siembras de cultivos</a></li>
                        <li><a class="dropdown-item" href="{% url 'horaTrabajo' %}">Registrar Horas De Trabajo</a></li>
                        <li><a class="dropdown-item" href="{% url 'insumoLabor' %}">Registrar Insumos utilizados</a></li>
                        <li><a class="dropdown-item" href="{% url 'equiposlabor' %}">Registrar Equipos utilizados</a></li>
                        <li><a class="dropdown-item" href="#">Registrar Uso de Maquinaria</a></li>
                        <li><a class="dropdown-item" href="{% url 'indirectos' %}">Registrar Costos Indirectos</a></li>
                        <li><a class="dropdown-item" href="#">Registrar Recoleccion de Cosecha</a></li>
                        <li><a class="dropdown-item" href="{% url 'ventas' %}">Registrar Venta de Productos</a></li>
                        
                        {% endif %}

                    {% comment %} MENU DEL SUPER USUARIO {% endcomment %}
                    {% if user.rol == '0' %}

                    
                    <li class="text-center">
                        <a class="separador">Administrador</a>
                    </li>
                    <li><a class="dropdown-item" href="{% url 'categHoras' %}">Categorias de horas</a></li>
                    <li><a class="dropdown-item" href="{% url 'categMaterial' %}">Categorias de Materiales</a></li>
                    <li><a class="dropdown-item" href="{% url 'unidadMedida' %}">Unidades de Medida</a></li>
                    <li><a class="dropdown-item" href="{% url 'proveedor' %}">Proveedores</a></li>
                    <li><a class="dropdown-item" href="{% url 'insumos' %}">Insumos</a></li>
                    <li><a class="dropdown-item" href="{% url 'equipos' %}">Equipos y Herramientas</a></li>

                    <li class="text-center">
                        <a class="separador">Gerente</a>
                    </li>
                    <li><a class="dropdown-item" href="#">Asistentes de finca</a></li>
                    <li><a class="dropdown-item" href="{% url 'proveedor' %}">Proveedores</a></li>
                    <li><a class="dropdown-item" href="{% url 'insumoFinca' %}">Insumos de Finca</a></li>
                    <li><a class="dropdown-item" href="{% url 'equipoFinca' %}">Equipos de Finca</a></li>
                    <li><a class="dropdown-item" href="{% url 'trabajadores' %}">Trabajadores</a></li>
                    <li><a class="dropdown-item" href="{% url 'productos' %}">Productos</a></li>
                    <li><a class="dropdown-item" href="{% url 'cultivos' %}">Cultivos</a></li>
                    <li><a class="dropdown-item" href="#">Maquinaria y Herramienta</a></li>
                    <li><a class="dropdown-item" href="{% url 'clientes' %}">Clientes</a></li>
                 
                    <li class="text-center">
                        <a class="separador">Asistente</a>
                    </li>
                    <li><a class="dropdown-item" href="{% url 'compraEquipo' %}">Compra de Equipo y Herramienta</a></li>
                    <li><a class="dropdown-item" href="{% url 'CompraInsumo' %}">Compra de Insumos</a></li>
                    <li><a class="dropdown-item" href="{% url 'lotes' %}">Lotes</a></li>
                    <li><a class="dropdown-item" href="#">Siembras de cultivos</a></li>
                    <li><a class="dropdown-item" href="{% url 'horaTrabajo' %}">Registrar Horas De Trabajo</a></li>
                    <li><a class="dropdown-item" href="{% url 'insumoLabor' %}">Registrar Insumos utilizados</a></li>
                    <li><a class="dropdown-item" href="{% url 'equiposlabor' %}">Registrar Equipos utilizados</a></li>
                    <li><a class="dropdown-item" href="#">Registrar Uso de Maquinaria</a></li>
                    <li><a class="dropdown-item" href="{% url 'indirectos' %}">Registrar Costos Indirectos</a></li>
                    <li><a class="dropdown-item" href="#">Registrar Recoleccion de Cosecha</a></li>
                    <li><a class="dropdown-item" href="{% url 'ventas' %}">Registrar Venta de Productos</a></li>                   
                    {% endif %}
                    {% comment %} FIN MENU DEL SUPER USUARIO {% endcomment %}
                                                              
                    </ul>
                </li>
                
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link disabled"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>